body {
  background-color: #a2a8d3;
  font-family: "Space Grotesk", sans-serif;
}

.weather-app {
  background-color: #e7eaf6;
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(36, 35, 35, 0.2);
}
